@model Gym_Membership.Models.MemberComment

@{
    ViewBag.Title = "AddComment";
}

<h2>AddComment</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
