
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invalid License</title>
</head>
<body>
    <div> 
        <h3>License Key is Invalid, please contact your vendor.</h3>
    </div>
</body>
</html>
