<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-Gym Membership-20150721103326.mdf&quot;;Initial Catalog=&quot;aspnet-Gym Membership-20150721103326&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringLocal" connectionString="Server=159LT20;Database=GymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->


    <!--giolet -->

    <add name="ConnectionStringBiz" connectionString="Server=localhost\SQLEXPRESS;Database=gmdb;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringTest" connectionString="Server=159LT01\SQLEXPRESS;Database=gmdb;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->

    
    <!--gio-lenovo -->
    <!--<add name="ConnectionString" connectionString="Server=GIO-LENOVO;Database=GymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Server=localhost\sqlexpress;Database=SpaceGymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Server=GIO-LENOVO;Database=SpaceGymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionStringTest" connectionString="Server=gio-lenovo;Database=GymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />


    <!-- stefe -->
    <!--<add name="ConnectionString" connectionString="Server=localhost;Database=GymDB;Uid=sa;Pwd=qwertyuiop;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Server=159LT20;Database=GymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringTest" connectionString="Server=159LT20;Database=GymDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->


    <!--<add name="ConnectionString" connectionString="Server=CTRLSOFT-KHWGHA\SQLEXPRESS;Database=SpaceGymDBTest;Uid=spaceuser;Pwd=spaceuser01;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringTest" connectionString="Server=CTRLSOFT-KHWGHA\SQLEXPRESS;Database=SpaceGymDB;Uid=spaceuser;Pwd=spaceuser01;" providerName="System.Data.SqlClient" />-->

    <!--<add name="ConnectionStringLocal" connectionString="Server=159LT01\sqlexpress;Database=MembershipManagementDB;Uid=memadmin;Pwd=memadmin01;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ApplicationName" value="MemberManagement" />
    <add key="PasswordEnabled" value="true" />
    <add key="TestPassword" value="admin" />
    <add key="ErrorDebug" value="true" />
    <add key="UseCache" value="true" />
    <add key="SupportEmail" value="giovanni_pl@hotmail.com" />
    <add key="SaltKey" value="5gn6etAgXc0PDJ1g" />
    <add key="SendErrorEmail" value="false" />
    <!--<add key="SupportEmailGroup" value="O%26Stimesheetsupport@mcb.mu" />-->
    <add key="SupportEmailGroup" value="giovanni_pl@hotmail.com" />
    <add key="WebappMail" value="" />
    <add key="WebappPwd" value="" />

    <add key="InsertMemberId" value="true" />
    <add key="ProrataFirst" value="1" />
    <add key="ProrataSecond" value="0.5" />
    <add key="ProrataThird" value="0.3333333333333333" />

    <add key="LongOverdueDays" value="120" />

    <add key="Incognito" value="true" />
    <add key="authorizedImagesExt" value=".jpg;.png;.gif;.bmp;" />
    <add key="BoundaryLimitForVoucherId" value="500000" />


    <!--
    * Yahoo! 	smtp.mail.yahoo.com
    * GMail 	smtp.gmail.com
    * Hotmail 	smtp.live.com
    -->

    <add key="smtpserver" value="" />
    <add key="MaxMembersAllowed" value="10" />
    
    <add key="HistorySize" value="10" />

    <!-- environment -->
    <!--<add key="Environment" value="PRODUCTION" />-->
    <!--<add key="Environment" value="BIZ" />-->
     <!--<add key="Environment" value="DEVELOPMENT" />--> 
    <add key="Environment" value="PRODUCTION" /> 

    <add key="LogQueries" value="false" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\dev\logs\GymMembership\gym.log" />
      <appendToFile value="true" />
      <maximumFileSize value="2048KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>


</configuration>