@model Gym_Membership.Models.LoginState

@{
    Layout = null;
    var browser = Request.Browser.Browser + Request.Browser.MajorVersion;
    var browser_type = Request.Browser.Browser;
    var browser_version = Request.Browser.MajorVersion;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=2")" />

    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    @using (Html.BeginForm("ForgetPassword", "Test", FormMethod.Post, new { @class = "login", role = "form" }))
                    {
                        <div class="pass-reset" style="background-color:none;">
                            <label>
                                Enter userId and the email you signed up with
                            </label>
                            <input name="UserId" type="text" placeholder="User Name" />
                            <input type="email" placeholder="Email" name="EmailAddress" />
                            <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });
    </script>

</body>
</html>
